<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - BookStore App</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Site.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a asp-controller="Home" asp-action="index" class="navbar-brand" >
           <img asp-append-version="true" src="~/images/logo.png" alt="BookStore" width="30" height="30">
           BookStore</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" asp-controller="Home" asp-action="index">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Home" asp-action="aboutus">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Home" asp-action="contactus">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Book" asp-action="getallbooks">All Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" asp-controller="Book" asp-action="addnewbook">Add New Book</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="q"
            />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </div>
      </nav>
    </header>
    @RenderSection("breadcrumb", required:false)
    <main role="main" class="container">@RenderBody()</main>
    <footer class="footer border-top text-muted text-center">
      <div class="container">
        Copyright &copy; Book Store @DateTime.Now.Year
      </div>
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/popperjs/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required:false)
  </body>
</html>
